In [1]:
print ('welcome')

welcome

In [3]:
print('python programming', end=' ')
print('high level programming language')

python programming high level programming language

In [44]:
a = 5
print(5)

5

In [5]:
a= 'welcome'
print (a)

welcome

In [7]:
#input statement
a= input()
print (a)

 6.77

6.77

In [9]:
a= int(input())
b= int(input())
print (a+b)

 67
 5

72

In [11]:
a,b,c=20,52,16
print(a)
print(b)
print(c)

20
52
16

In [13]:
#airthmetic operators
a=3
b=2
print(a+b) 
print(a-b)
print(a*b)
print(a/b)
print(a//b) # division - qoutient
print(a%b) #modulus - remainder
print(a**b) #exponent

5
1
6
1.5
1
1
9

In [17]:
#relational operator
a=8
b=2
print (a>b)
print (a<b)
print(a==b)
print(a!=b)

True
False
False
True

In [20]:
#logical operator
a=8
b=2
c= True
print (a==8 and a>b)
print (a==8 and a<b)
print (a==8 or a<b)
print (not c)

True
False
True
False

In [21]:
x=45
print(type(x))

<class 'int'>

In [22]:
x=6.7
print(type(x))

<class 'float'>

In [24]:
x=True
print(type(x))

<class 'bool'>

In [30]:
x='python'
print(type(x))

<class 'str'>

In [26]:
x=45+2j
print(type(x))

<class 'complex'>

In [27]:
x=[45,32,67]
print(type(x))

<class 'list'>

In [28]:
x=(45,34,67)
print(type(x))

<class 'tuple'>

In [29]:
x={45,12,90}
print(type(x))

<class 'set'>

In [33]:
print(x)
print(x[0])
print(x[1])

python
p
y

In [41]:
x= 'python programming high level programming language'
print(x)
print(len(x))
print(x[7:14]) #slicing
print(x[-1])
print(x[-2])
print (x[7:])
print (x[:7])

python programming high level programming language
50
program
e
g
programming high level programming language
python

In [45]:
x='python programming'
y= 'high level'
print(x+' '+y) #concatnation
print(x*3)
print ('the value of a is', a)

python programming high level
python programmingpython programmingpython programming
the value of a is 5

In [62]:
#list
y= [5,6,8.5,True,'Irelad']
print (y)
print(y[2])
print(y[2:])
print (y)
y.append('india') #add value in last
print(y)
y.insert (2,66) #add value between
print(y)
x=[23,55,90,14]
y.extend(x)
print( y)
y[0]='program' #modify
y.remove(True)
print(y)
y.pop() #remove last by default
print (y)
y.pop(2)
print(y)
z=x+y
print(z)

[5, 6, 8.5, True, 'Irelad']
8.5
[8.5, True, 'Irelad']
[5, 6, 8.5, True, 'Irelad']
[5, 6, 8.5, True, 'Irelad', 'india']
[5, 6, 66, 8.5, True, 'Irelad', 'india']
[5, 6, 66, 8.5, True, 'Irelad', 'india', 23, 55, 90, 14]
['program', 6, 66, 8.5, 'Irelad', 'india', 23, 55, 90, 14]
['program', 6, 66, 8.5, 'Irelad', 'india', 23, 55, 90]
['program', 6, 8.5, 'Irelad', 'india', 23, 55, 90]
[23, 55, 90, 14, 'program', 6, 8.5, 'Irelad', 'india', 23, 55, 90]

In [64]:
s=[[5,6,7,5],[7.8,'assad',55],[5,8,44]] #nested list
print(s[0][2])
print(s[1][1])

7
assad

In [65]:
y= (5,6,8.5,True,'Irelad') #tuple(can't changable\immutable)
print(y)

(5, 6, 8.5, True, 'Irelad')

In [70]:
#set
y={8,4,6,8,0} #duplicates are not allowed & unordered
print(y)
y.add(77)
print(y)
y.remove(0)
print(y)
y1= {4} 
print(y-y1) #remove common value

{8, 0, 4, 6}
{0, 4, 6, 8, 77}
{4, 6, 8, 77}
{8, 77, 6}

In [72]:
#dictionary
car={'brand':'BMW','Model':'M3','YEAR':2020}
print(car.items())
print(car.keys())
print(car.values())
print(car['brand'])

dict_items([('brand', 'BMW'), ('Model', 'M3'), ('YEAR', 2020)])
dict_keys(['brand', 'Model', 'YEAR'])
dict_values(['BMW', 'M3', 2020])
BMW

In [78]:
n=5
if n>0:
    print('positive')
elif n==5:
    print('the value is 5')
elif n<0:
    print('negative')
else:
    print('else part')

positive

In [82]:
#nested if
n= 5
if n>0:
    print('positive')
    if(n==5):
        print('the value is 5')
else:
    print('negative')

positive
the value is 5

In [87]:
#LOOP - Repeats again & Again
#for - with range (), without range

for i in range(1,10):
    print (i, end=' ')

1 2 3 4 5 6 7 8 9

In [88]:
for i in range(1,10,3):
    print (i, end=' ')

1 4 7

In [91]:
for i in range(20,0,-1):
    print (i, end= ' ')

20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [93]:
s= 'hello'
n = len (s)
for i in range (n):
    print (s[i])

h
e
l
l
o

In [95]:
s= 'priya'
n = len (s)
for i in range (n):
    print (s)

priya
priya
priya
priya
priya

In [97]:
l=[6,7,3,4,2]
n=len (l)
for i in range (n):
    print(l[i])

6
7
3
4
2

In [99]:
l=[6,7,3,4,2]
for i in l:
    print(i)

6
7
3
4
2

In [101]:
#nested for
a= ['big','small']
b= ['village','town','city']
for i in a:
    for j in b:
        print(i,j)

big village
big town
big city
small village
small town
small city

In [102]:
for i in range(1,5):
    for j in range (1,11):
        print(i,'*',j,'=',i*j)

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

In [104]:
#while loop
n=5
while (n<10):
    print(n)
    n= n+1

5
6
7
8
9

In [106]:
car={'brand':'BMW','Model':'M3','YEAR':2020}
for i in car.values():
    print(i)

BMW
M3
2020

In [107]:
car={'brand':'BMW','Model':'M3','YEAR':2020}
for i in car.items():
    print(i)

('brand', 'BMW')
('Model', 'M3')
('YEAR', 2020)

In [108]:
#exception

x=6
if x==6:
    raise exception ('invalid value')

NameError: name 'exception' is not defined

In [111]:
n=8
try:
    z=n/0
except:
    print('divided by zero error')
finally:
    print('Final Statement')

divided by zero error
Final Statement

In [114]:
#list comprehnsion
a=[5,6,7,4]
b=[i for i in a if i%2==0] 
print (b)

[6, 4]